/*FONTS*/
body {
  background-color: #3d0e16;
  color: #8a753d;
  font-family: "Oswald", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.banner {
  background-color: #f5efef;
  padding: 30px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.banner .titleBanner {
  padding-left: 240px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}

.banner .titleBanner img {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(0, -50%);
  width: 90px;
}

.banner .titleBanner h2 {
  font-size: 45px;
  margin: 0;
}

.footer {
  background-color: #0e0d0d;
  opacity: 0.3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  height: 40px;
  -ms-flex-align: center;
      align-items: center;
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.footer .footerWrapper {
  display: -ms-flexbox;
  display: flex;
  padding-left: 220px;
  height: 100%;
  -ms-flex-align: center;
      align-items: center;
}

.footer p {
  padding: 0 40px;
}

.homePage {
  margin-left: 260px;
  margin-top: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.welcomeTextWrapper {
  font-size: 24px;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.welcomeTextWrapper .welcomeText {
  font-weight: 100;
}

.menuAbout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  color: black;
}

.menuAbout .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #ccc5c5;
  border-radius: 6px;
  width: 32%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 250px;
  border: 2px solid #3d0e16;
  transition: 1s;
  position: relative;
}

.menuAbout .itemMenuTitle {
  font-size: 20px;
  position: absolute;
  top: 30%;
  transition: 1s;
}

.menuAbout .menuDescription {
  padding: 0 15px 25px 15px;
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 50%;
}

.menuAbout .item:hover .itemMenuTitle {
  top: 5%;
}

.menuAbout .item:hover .menuDescription {
  opacity: 1;
  top: 35%;
}

.sidebar {
  background-color: #ccc5c5;
  width: 220px;
  min-height: 86.6vh;
  position: absolute;
  top: 127px;
}

.sidebar .sidebarWrapper {
  margin: 0;
  list-style-type: none;
  padding: 0 15px;
}

.sidebar .sidebarWrapper .sidebarItem {
  padding: 40px 10px;
  font-size: 24px;
  border-bottom: 1px solid #3d0e16;
  cursor: pointer;
  transition: 1s;
}

.sidebar .sidebarWrapper .sidebarItem a {
  text-decoration: none;
  color: #8a753d;
}

.sidebar .sidebarItem:hover {
  padding-left: 20px;
}

.sidebar .sidebarItem:hover a {
  color: #3d0e16;
}
/*# sourceMappingURL=style.css.map */