/*FONTS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  margin: 0;
  min-height: 100vh;
  background-image: url("/../../images/bck3.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: bottom right;
  position: relative;
}

.container, .shadow {
  height: 100%;
  font-size: 18px;
}

.shadow {
  background-color: #3d0e16;
  opacity: 0.9;
  z-index: -1;
  width: calc(100% - 200px);
  position: fixed;
}

@media (max-width: 660px) {
  .shadow {
    width: 100%;
  }
}

.homePage {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: #8a753d;
  display: none;
  padding-bottom: 30px;
}

.welcomeText {
  padding: 100px 20px 20px;
}

.welcomeText p {
  padding: 30px 0 25px 0;
  text-align: center;
}

.operatingRangeWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  margin: 40px auto 80px;
  opacity: 1;
}

.operatingRangeItem {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  height: 260px;
  width: 33%;
  padding: 30px 0 0;
  background-color: #2b2a2a;
  border: 1px #3d0e16 solid;
  border-radius: 5px;
  transition-duration: 1s;
}

.operatingRangeItem img {
  width: 120px;
  transition-duration: 1s;
}

.operatingRangeItem .titleBoxText {
  width: 70%;
  text-align: center;
  font-size: 22px;
  transition-duration: 1s;
}

.operatingRangeItem .notDisplayingWrapper {
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  color: white;
  display: none;
  transition-duration: 1s;
  overflow: hidden;
  width: 90%;
}

.operatingRangeItem .notDisplayingWrapper button {
  background-color: transparent;
  border: none;
  border-style: none;
  color: #8a753d;
  cursor: pointer;
}

.operatingRangeItem:hover {
  color: #8a753d;
  background-color: #4d4c4c;
}

.operatingRangeItem:hover img {
  width: 50px;
}

.operatingRangeItem:hover .titleBoxText {
  width: 60%;
  font-size: 18px;
}

.operatingRangeItem:hover .notDisplayingWrapper {
  display: block;
}

.activePage {
  display: block;
}

@media (max-width: 1050px) {
  .operatingRangeWrapper {
    max-width: 600px;
    margin: 50px auto 30px;
  }
  .operatingRangeItem {
    width: 49%;
    height: 220px;
  }
  .operatingRangeItem img {
    width: 110px;
  }
  .operatingRangeItem .titleBoxText {
    font-size: 20px;
  }
  .operatingRangeItem .notDisplayingWrapper {
    font-size: 16px;
  }
  .operatingRangeItem:hover img {
    width: 40px;
  }
  .operatingRangeItem:hover .titleBoxText {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .operatingRangeWrapper {
    width: 85%;
    margin: 40px auto 10px;
  }
  .operatingRangeItem {
    width: 49%;
    height: 210px;
  }
  .operatingRangeItem img {
    width: 90px;
  }
  .operatingRangeItem .titleBoxText {
    width: 70%;
    font-size: 20px;
  }
  .operatingRangeItem .notDisplayingWrapper {
    font-size: 13px;
  }
  .operatingRangeItem:hover img {
    width: 40px;
  }
  .operatingRangeItem:hover .titleBoxText {
    width: 60%;
    font-size: 15px;
  }
}

@media (max-width: 660px) {
  .homePage {
    margin-left: 0px;
  }
  .operatingRangeWrapper {
    max-width: 450px;
  }
  .operatingRangeItem {
    width: 49%;
  }
}

@media (max-width: 440px) {
  .operatingRangeItem img {
    width: 85px;
  }
  .operatingRangeItem .titleBoxText {
    width: 70%;
    font-size: 18px;
  }
  .operatingRangeItem .notDisplayingWrapper {
    font-size: 13px;
  }
  .operatingRangeItem:hover img {
    width: 40px;
  }
  .operatingRangeItem:hover .titleBoxText {
    width: 60%;
    font-size: 15px;
  }
}

.sidebar {
  opacity: 0.8;
  width: 200px;
  position: absolute;
  display: block;
}

.sidebar .shadowSidebar {
  height: 100%;
  background-color: #242424;
  opacity: 0.9;
  width: 200px;
  z-index: -1;
  position: fixed;
}

.sidebar .titleBanner {
  margin: 20px auto 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.sidebar .titleBanner .logo {
  display: block;
  -ms-flex-pack: center;
      justify-content: center;
  width: 180px;
  color: #8a753d;
}

.sidebar .sidebarWrapper {
  height: 50%;
  list-style-type: none;
  padding: 0px 15px;
}

.sidebar .sidebarWrapper .sidebarItem {
  padding: 25px 0px 15px 10px;
  font-size: 14px;
  border-bottom: 1px #3d0e16 solid;
  cursor: pointer;
  transition: 1s;
}

.sidebar .sidebarWrapper .sidebarItem a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
}

.sidebar .sidebarWrapper .sidebarItem i {
  font-size: 24px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
}

.sidebar .sidebarItem:hover {
  padding-left: 20px;
}

.sidebar .sidebarItem:hover a, .sidebar .sidebarItem:hover i {
  color: #8a753d;
}

.active {
  color: #8a753d !important;
}

.active a {
  color: #8a753d !important;
}

@media (max-width: 660px) {
  .sidebar {
    background-color: #242424;
    opacity: 0.8;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 100%;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .sidebar .shadowSidebar {
    display: none;
  }
  .sidebar .titleBanner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: left;
        justify-content: left;
    width: 30%;
  }
  .sidebar .sidebarWrapper {
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .sidebar .sidebarWrapper .sidebarItem {
    margin: 0 8px;
    border-bottom: none;
  }
  .sidebar .sidebarWrapper .sidebarItem a {
    display: none;
  }
}

.aboutMe {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: #8a753d;
  display: none;
  padding-bottom: 30px;
}

.title {
  text-align: center;
  padding: 40px;
}

.content {
  margin: 20px auto;
  width: 70%;
  font-size: 22px;
}

.title {
  padding-top: 100px;
}

.activePage {
  display: block;
}

@media (max-width: 660px) {
  .aboutMe {
    margin: 0px;
  }
  .title {
    padding-top: 100px;
  }
}

.aboutWork {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: #8a753d;
  display: none;
  padding-bottom: 30px;
}

.operatingRangeWrapperWork {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  padding: 140px 0 60px;
}

.activePage {
  display: block;
}

@media (max-width: 1050px) {
  .operatingRangeWrapperWork {
    max-width: 600px;
  }
}

@media (max-width: 850px) {
  .operatingRangeWrapperWork {
    max-width: 450px;
  }
}

@media (max-width: 660px) {
  .aboutWork {
    margin-left: 0px;
  }
  .operatingRangeWrapperWork {
    max-width: 450px;
  }
}

.contact {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: #8a753d;
  display: none;
  padding-bottom: 30px;
}

.titleContact {
  padding: 30px;
  text-align: center;
}

.contactWrapper {
  padding: 80px 50px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactData, .contactForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 49%;
  font-size: 22px;
}

.contactData p, .contactForm p {
  text-align: center;
}

.contactForm {
  border-left: 1px white solid;
}

.contactForm form {
  margin-top: 20px;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contactForm form .elementForm {
  margin: 10px;
  color: white;
  opacity: 1;
  background-color: #2b2a2a;
  border-radius: 5px;
  border: 1px #8a753d solid;
  box-shadow: 5px 5px 15px #000;
  width: 60%;
}

.contactForm form input, .contactForm form select {
  height: 25px;
}

.contactForm form :-ms-input-placeholder {
  color: white;
  opacity: 1;
  padding: 5px;
}

.contactForm form ::placeholder {
  color: white;
  opacity: 1;
  padding: 5px;
}

.submit {
  background-color: #8a753d;
  border: none;
  padding: 5px 20px;
  color: white;
  border: 1px white solid;
  cursor: pointer;
  box-shadow: 5px 5px 15px #000;
  border-radius: 5px;
}

.activePage {
  display: block;
}

@media (max-width: 1050px) {
  .contactData, .contactForm {
    width: 99%;
  }
  .contactForm {
    margin-top: 40px;
    border-left: none;
  }
}

@media (max-width: 660px) {
  .contactData, .contactForm {
    font-size: 18px;
  }
}

@media (max-width: 660px) {
  .contact {
    margin-left: 0px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: -ms-flexbox;
  display: flex;
}

.modal {
  width: 60%;
  margin: auto;
  background-color: #4d4c4c;
  opacity: 0.8;
  position: relative;
  padding: 30px;
  display: none;
  border-radius: 8px;
}

.modal h4 {
  color: #8a753d;
  text-align: center;
  margin: 15px;
  font-size: 28px;
}

.modal p {
  font-size: 22px;
  margin: 0 40px;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.modal .btn-close-down {
  display: block;
  color: white;
  background-color: #8a753d;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 50px 40px 20px 40px;
  box-shadow: 4px 4px 15px black;
}

.modal img {
  width: 40px;
}

@media (max-width: 1050px) {
  .modal {
    width: 80%;
  }
}

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 30px;
  margin-left: 200px;
  background-color: #2b2a2a;
  opacity: 0.4;
  font-size: 13px;
  width: calc(100% -  200px);
}

.leftFooter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.leftFooter p {
  padding: 6px 10px;
}

.rightFooter {
  padding: 6px 10px;
}

@media (max-width: 660px) {
  footer {
    margin-left: 0;
    font-size: 12px;
    width: 100%;
  }
  .leftFooter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .leftFooter p {
    padding: 6px 3px;
  }
  .rightFooter {
    padding: 6px 3px;
  }
}
/*# sourceMappingURL=style.css.map */