@charset "UTF-8";
/*FONTS*/
* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  margin: 0;
  height: 100vh;
  background-image: url("../../images/tło7.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: bottom right;
}

.container, .shadow {
  height: 100%;
  font-size: 18px;
}

.shadow {
  background-color: #3d0e16;
  opacity: 1;
  z-index: -1;
  width: calc(100% - 160px);
  position: absolute;
}

.homePage {
  margin-left: 160px;
  height: 100%;
  color: #8a753d;
  display: none;
}

.logoBaner {
  display: none;
  padding: 20px;
  width: 200px;
}

.welcomeText p {
  padding: 18px 0;
  text-align: center;
}

.operatingRangeWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  margin: 50px auto;
}

.operatingRangeItem {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 33%;
  padding: 20px 0;
  background-color: #2b2a2a;
  border: 1px #3d0e16 solid;
  border-radius: 5px;
}

.operatingRangeItem img {
  width: 90px;
}

.operatingRangeItem p {
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.operatingRangeItem:hover {
  color: #8a753d;
  background-color: #4d4c4c;
}

.activePage {
  display: block;
}

.sidebar {
  background-color: #242424;
  opacity: 0.8;
  width: 160px;
  height: 100vh;
  position: absolute;
}

.sidebar .titleBanner {
  margin: 20px auto 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.sidebar .titleBanner .logo {
  display: block;
  -ms-flex-pack: center;
      justify-content: center;
  width: 140px;
  color: #8a753d;
}

.sidebar .titleBanner .title {
  font-size: 24px;
  -ms-flex-pack: center;
      justify-content: center;
}

.sidebar .sidebarWrapper {
  height: 50%;
  list-style-type: none;
  padding: 0px 15px;
}

.sidebar .sidebarWrapper .sidebarItem {
  padding: 25px 0px 15px 10px;
  font-size: 10px;
  border-bottom: 1px solid #3d0e16;
  cursor: pointer;
  transition: 1s;
}

.sidebar .sidebarWrapper .sidebarItem a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
}

.sidebar .sidebarWrapper .sidebarItem i {
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
}

.sidebar .sidebarItem:hover {
  padding-left: 15px;
}

.sidebar .sidebarItem:hover a, .sidebar .sidebarItem:hover i {
  color: #8a753d;
}

.active {
  color: #8a753d !important;
}

.active a {
  color: #8a753d !important;
}

.aboutMe {
  margin-left: 160px;
  height: 100%;
  color: #8a753d;
  display: none;
}

.title {
  text-align: center;
  padding: 40px;
}

.activePage {
  display: block;
}

.aboutWork {
  margin-left: 160px;
  height: 100%;
  color: #8a753d;
  display: none;
}

.operatingRangeWrapperWork {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  padding: 100px;
}

.activePage {
  display: block;
}

.contact {
  margin-left: 160px;
  height: 100%;
  color: #8a753d;
  display: none;
}

.titleContact {
  padding: 30px;
  text-align: center;
}

.contactWrapper {
  padding: 80px 50px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactData, .contactForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 49%;
}

.contactData p, .contactForm p {
  text-align: center;
}

.contactForm {
  border-left: 1px white solid;
}

.contactForm form {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.contactForm form .elementForm {
  margin: 10px;
  color: white;
  opacity: 1;
  background-color: #6e6e6e;
  border-radius: 2px;
  border: 1px #8a753d solid;
  box-shadow: 5px 5px 15px #000;
}

.contactForm form :-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.contactForm form ::placeholder {
  color: white;
  opacity: 1;
}

.activePage {
  display: block;
}
/*# sourceMappingURL=style.css.map */