* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: $text;
  font-size: 24px;
  margin: 0;
  height: 100vh;
  background-image: url("../../images/tło7.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: bottom right;
}

.container, .shadow {
  height: 100%;
  font-size: 18px;
}

.shadow {
  background-color: $main-color;
  opacity: 1;
  z-index: -1;
  width: calc(100% - 160px);
  position: absolute;

}


