* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: $text;
  font-size: 24px;
  margin: 0;
  height: 100vh;
  background-image: url("./../images/bck3.JPG");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: bottom right;
}

.container, .shadow {
  height: 100%;
  font-size: 18px;
}

.shadow {
  background-color: $main-color;
  opacity: 0.9;
  z-index: -1;
  width: calc(100% - 200px);
  position: absolute;

}


@media(max-width: 620px) {
 
  .shadow {
    width: 100%;
  }

}