* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

*::selection 
{
       background-color:transparent;
} 
*::-moz-selection
{
       background-color:transparent;
}
*
{        
       -webkit-user-select: none;
       -moz-user-select: -moz-none;
       /*IE10*/
       -ms-user-select: none;
       user-select: none;

       /*You just need this if you are only concerned with android and not desktop browsers.*/
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{

       -webkit-user-select: text;
       -moz-user-select: text;
       -ms-user-select: text;
       user-select: text;
}

body {
  color: #fff;
  font-family: $text;
  font-size: 24px;
  margin: 0;
  min-height: 100vh;
  background: url("../images/bck3.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: bottom right;
  position: relative;
}

.container, .shadow {
  height: 100%;
  font-size: 18px;
}

.shadow {
  background-color: $main-color;
  opacity: 0.9;
  z-index: -1;
  width: calc(100% - 200px);
  position: fixed;

}


@media(max-width: 672px) {
 
  .shadow {
    width: 100%;
  }

}