.sidebar {
  background-color: rgb(36, 36, 36);
  opacity: 0.8;
  width: 200px;
  height: 100vh;
  position: absolute;
  
  .titleBanner {
    margin: 20px auto 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .logo {
      display: block;   
      justify-content: center;   
      width: 180px;
      color: $title-color;
    }
    .title {
      font-size: 24px;;
      justify-content: center;
    }
  }

  .sidebarWrapper {
    height: 50%;
    list-style-type: none;
    padding: 0px 15px;


    .sidebarItem {
      padding: 25px 0px 15px 10px ;
      font-size: 14px;;
      border-bottom: 1px $main-color  solid;
      cursor: pointer;
      transition: 1s;

      a {
        text-decoration: none;
        color: #fff;
        text-align: center;
        display: block;
      }

      i {
        font-size: 24px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
      }
      
      
    }

    
  }

  .sidebarItem:hover {
    padding-left: 20px;

    
    a, i{
      color: $title-color;
    }
  }
}

.active {
  color: $title-color!important;

  a {
    color: $title-color!important;

  }
}

@media(max-width: 620px) {
  .sidebar {
    display: none;
  }

}