.sidebar {
  background-color: rgb(204, 197, 197);
  width: 220px;
  min-height: 86.6vh;
  position: absolute;
  top: 127px;;
  

  .sidebarWrapper {
    margin: 0;
    list-style-type: none;
    padding: 0 15px;


    .sidebarItem {
      padding: 40px 10px;
      font-size: 24px;;
      border-bottom: 1px solid $main-color;
      cursor: pointer;
      transition: 1s;
      
      
    }

    
  }

  .sidebarItem:hover {
    padding-left: 20px;
    color: $main-color;

  }
}