.aboutWork {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: $title-color;
  display: none;
  padding-bottom: 30px;

}
.operatingRangeWrapperWork {
  display: flex;
   flex-wrap: wrap;
   width: 800px;
   margin: 0 auto;
   padding: 135px 0 40px;;
}

.activePage {
  display: block;
}

@media(max-width: 1050px) {

  .operatingRangeWrapperWork {
    max-width: 600px;
  }

 }

 @media(max-width: 850px) {

  .operatingRangeWrapperWork {
    max-width: 450px;
    
  }

  
 }

 @media(max-width: 672px) {

  .aboutWork {
    margin-left: 0px;
  
  }

  .operatingRangeWrapperWork {
    max-width: 400px;
  }


}

@media(max-width: 480px) {
  .operatingRangeWrapperWork {
    max-width: 420px;;
  }
}

@media(max-width: 440px) {
  
  .operatingRangeWrapperWork {
    max-width: 300px;
    justify-content: center;

  }

}