.aboutWork {
  margin-left: 200px;
  height: 100%;
  color: $title-color;
  display: none;
}
.operatingRangeWrapperWork {
  display: flex;
   flex-wrap: wrap;
   width: 800px;
   margin: 0 auto;
   padding: 100px 10px 60px;;
}

.activePage {
  display: block;
}

@media(max-width: 1050px) {

  .operatingRangeWrapperWork {
    max-width: 600px;
  }

  .operatingRangeItemWork {
    width: 49%;
  }
 }

 @media(max-width: 850px) {

  .operatingRangeWrapperWork {
    max-width: 400px;
  }

  .operatingRangeItemWork {
    width: 49%;
    height: 180px;

    img {
      width: 100px;
    }
  
    p {
      width: 70%;
      font-size: 20px;
  
    }
  }
 }

 @media(max-width: 620px) {

  .aboutWork {
    margin-left: 0px;
  
  }

  .operatingRangeWrapperWork {
    max-width: 400px;
  }
  .operatingRangeItemWork {
  width: 49%;
  }


}