.aboutMe {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: $title-color;
  display: none;
  padding-bottom: 30px;

}

.title {
  text-align: center;
  padding: 40px;
  color: rgb(224, 206, 206);

}

.content {
  margin: 20px auto;
  width: 70%;  
  font-size: 21px;
  text-align: justify;
  color: $white-color;
}

.title {
  padding-top: 60px;
}
.activePage {
  display: block;
}

@media(max-width: 1150px) {

  .content {
    font-size: 20px;
    width: 80%;
  }

}

@media(max-width: 850px) {

  .content {
    font-size: 18px;
    width: 85%;
  }

}

@media(max-width: 660px) {
 
  .aboutMe {
    margin: 0px;
  }

  .title {
    padding-top: 100px;
    font-size: 16px;
  }

}

@media(max-width: 450px) {
 
  .aboutMe {
    margin: 0px;
  }

  .content {
    font-size: 17px;
  }

}