.aboutMe {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: $title-color;
  display: none;
  padding-bottom: 30px;

}

.title {
  text-align: center;
  padding: 40px;
}

.content {
  margin: 20px auto;
  width: 70%;  
  font-size: 22px;
}

.title {
  padding-top: 100px;
}
.activePage {
  display: block;
}

@media(max-width: 660px) {

  .aboutMe {
    margin: 0px;
  }

  .title {
    padding-top: 100px;
  }

}