.contact {
  margin-left: 200px;
  min-height: calc(100vh - 30px);
  color: $title-color;
  display: none;
  padding-bottom: 30px;

  
}

.titleContact {
  padding: 30px;
  text-align: center;
  

}

.contactWrapper {
  padding: 100px 50px; 
  display: flex;
  flex-wrap: wrap;
}

.contactData, .contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
  font-size: 22px;

  p {
    text-align: center;
    
  }
}

.contactData {
  color: $white-color;
  font-size: 26px;

}

.contactForm {
  border-left: 1px white solid;

  form {
    margin-top: 20px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    .elementForm {
      margin: 10px;
      color: white;
      opacity: 1;
      background-color: rgb(43, 42, 42);
      border: 1px $title-color solid;
      width: 80%;
    }

    input, select {
      height: 25px;
    }
    ::placeholder {
      color: white;
      opacity: 1;
      padding: 5px;

    }
  }
}

.submit {
  background-color: rgb(43, 42, 42);
  border: 1px $title-color solid;
  margin-top: 10px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;



}




.activePage {
  display: block;
}

@media(max-width: 1050px) {

  .contactData, .contactForm {
    width: 99%;
  }

  .contactForm {
    margin-top: 40px;
    border-left: none;
  }  
 }

 @media(max-width: 672px) {
  .contactData, .contactForm {
    font-size: 24px;
  }

  .contact {
    margin-left: 0px;
  }
}


@media(max-width: 510px) {

  .titleForm {
    text-align: center;
    font-size:  24px;
  }

}