.contact {
  margin-left: 200px;
  height: 100%;
  color: $title-color;
  display: none;
  
}

.titleContact {
  padding: 30px;
  text-align: center;
  

}

.contactWrapper {
  padding: 80px 50px 0; 
  display: flex;
  flex-wrap: wrap;
}

.contactData, .contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
  font-size: 22px;

  p {
    text-align: center;
    
  }
}

.contactForm {
  border-left: 1px white solid;

  form {
    margin-top: 20px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    .elementForm {
      margin: 10px;
      color: white;
      opacity: 1;
      background-color: rgb(43, 42, 42);
      border-radius: 5px;
      border: 1px $title-color solid;
      box-shadow: 5px 5px 15px #000;
      width: 60%;
    }

    input, select {
      height: 25px;
    }
    ::placeholder {
      color: white;
      opacity: 1;
      padding: 5px;

    }
  }
}

.submit {
  background-color: $title-color;
  border: none;
  padding: 5px 20px;
  color: white;
  border: 1px white solid;
  cursor: pointer;
  box-shadow: 5px 5px 15px #000;
  border-radius: 5px;



}




.activePage {
  display: block;
}

@media(max-width: 1050px) {

  .contactData, .contactForm {
    width: 99%;
  }

  .contactForm {
    margin-top: 40px;
    border-left: none;
  }  
 }

 @media(max-width: 660px) {
  .contactData, .contactForm {
    font-size: 18px;;
  }
}


@media(max-width: 660px) {

  .contact {
    margin-left: 0px;
  }

}