.homePage {
  margin-left: 160px;
  height: 100%;
  color: $title-color;
 display: none;
}

.logoBaner {
  display: none;
  padding: 20px;
  width: 200px;;
}
.welcomeText p {
  padding: 18px 0; 
  text-align: center;
}


 .operatingRangeWrapper {
   display: flex;
   flex-wrap: wrap;
   width: 600px;
   margin: 50px auto;
 }

 .operatingRangeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 20px 0;
  background-color: rgb(43, 42, 42);
  border: 1px $main-color solid;
  border-radius: 5px;

  img {
    width: 90px;
  }

  p {
    width: 80%;
    text-align: center;
    font-size: 18px;

  }
 
 }

 .operatingRangeItem:hover {
   color: $title-color;
   background-color: rgb(77, 76, 76);
 }

 .activePage {
   display: block;
 }